 body{
	background-color: #DEDEDE;
	font-size: 11pt;
    font-family: "Roboto";
    font-weight: 300;
}

input:focus {outline:0;}
button:focus {outline:0;}


a {
  color:#1C1C1C;
  text-decoration: none;
}

a:hover {
  color:black;
  text-decoration: none;
}

a:focus{
  text-decoration: none;

}
	.button_fb:hover{
     		color:gray;
     		cursor: pointer;

     	}
.aac2 {
	position: absolute;
	opacity: 1;
	top:10%;
	left: 35%;
	width:30%;

	display: block;
	margin-right: auto;
	margin-left: auto;
}

.aac3 {
	position: absolute;
	opacity: 1;
	top:68%;
	left: 10%;
	width:10%;

	display: block;
	margin-right: auto;
	margin-left: auto;
}

.aac img {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100%;
}

.aac .txt {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 18pt;
    margin-top: 25px;
    margin-bottom: 5px;
}


.agenda{
	height:200px;
	color:gray;


}
.agenda h3{
	color:gray;
	background-color: #222;

	padding-left: 20px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;

	font-family: "Roboto";
    font-weight: 300;

    font-size: 14pt;
}

.agenda ol {
    padding-left: 0;
}

.agenda li{
	color:gray;
    list-style: none;

	border-top:1px solid gray;
	padding-top: 10px;
	margin-bottom: 10px;

	padding-left: 20px;
	padding-right: 30px;
}
.alignleft {
   text-align: left;
}

.alignright {
   text-align: right;
}

.aumMargin{
	margin-top: 15px;
	margin-bottom: 15px;
}

.base{
	opacity: 0;
}
.borderdireita{
	border-right: 1.5px solid black;
}
.borderesquerda{
	border-left: 1.5px solid black;
	margin-bottom: 20px;
}

.barralado ul {
    padding: 15px;
}

.barralado li{
    list-style: none;
    color: gray;
    font-size: 11pt;
}

.barralado p.active{
	color: black;
	font-size: 16pt;
	line-height: 15pt;
}

.barra_preta{
	background-color: #1C1C1C;
	color: white;
	padding: 20px 40px;
    font-family: "Roboto";
    font-size: 7pt;
    font-weight: 400;
}

.barra_preta p {
    text-align: left;
}

.barra_preta a {
	background-color: #1C1C1C;
	color: white;
    text-decoration: none;
    text-align: left;
}

.botoes{
	font-family: 'Roboto';
	font-weight: 700;
    font-size: 15px;
    margin-left: 20px;
}

.botao_pesquisa {
    color: gray;
    background-color: black;
}

.botao_voltar {
	font-size: 13pt;

	float: right;
	margin-right: 20px;

	padding-top: 5px;
	padding-bottom: 5px;

	padding-right: 15px;
	padding-left: 15px;

    color: gray;
    background-color: transparent;
    border: 2px solid gray;
}
.botao_voltar:hover {
	color: black;
    border: 2px solid black;
}
.barra_preta .titulo_site p {
    font-weight: 700;
    text-align: center;
}

.branco{
	background-color: white;
}

.caixa_branca {
    background-color: white;
    margin: 5px 22px;
    padding: 10px;
}

.cartaz{
	margin-bottom: 30px;

}
.centrar{
	display: block;
	right: auto;
	left:auto;
	text-align: center;
}

.cenas {
	position: absolute;
	top:15%;
	width:80%;
	left:10%;
	text-align: center;
	font-size:13pt;

	display: block;
	margin-right: auto;
	margin-left: auto;
}

.cor{
	background-color: white;
}

.cor2{
	padding-top: 5px;
	background-color: #1C1C1C;
	height: 35px;
	color: white;
}

.corpolado {
    min-height: 536px;
    padding: 10px;
}

.contact-button {
  position: relative;
  background:#34495e;
  color: #fff;
  cursor: pointer;

  padding: 25px 80px;
  margin: 15px 30px;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;

  /*reset default browser*/
  border: none;
  outline: none;


  box-shadow: 0 6px #2c3e50;
  border-radius: 0 0 5px 5px;

}

.diminui{
	font-size: 13pt;
   text-align: left;
}

em {
   font-style: italic;
}

.emprego-row {
   margin-bottom: 30px;
}
.emprego-row .d{
	width: 73%;
	padding-top: 20px;
	padding-bottom: 20px;

}
.emprego-row .n{
	margin-right: 20px;
	padding-bottom: 20px;
}
.footer-top {
  margin-top: 10px;


}
.centrar{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.emprego-row:last-child {
   margin-bottom: 0;
}

.galeria{
	background-color: white;
	width:20%;
	height:250px;
	overflow: hidden;

	margin:20px;
}

.homebranco{
	background-color: white;
	opacity: 0.4;
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height: 100vh;
}


.homepagefoto {
	opacity: 0.6;
	width:100%;
    height: 95vh;
	overflow: hidden;
}


.img-desporto{
	width:30%;
	height: 30%;
}

.info{
	font-family: 'Roboto';
	font-weight: 300;
	margin-bottom: 20px;
}

.info p{
	 margin-right: 20px;
	 margin-left: 20px;
}

input {
    padding: 0;
    margin: 0;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    text-align: left;
}

.lermais{
	color:gray;
	text-align: right;
	margin-bottom: 20px;
}

.listaDG{
	padding-top:50px;
	min-height: 80vh;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 20px;
	margin-left: 0px;
}

.margin20{
	margin-left: 20px;
}

.marginTop{
	margin-top: 20px;
}

.margensEmprego{
	font-family: 'Roboto';
	font-weight: 300;
	margin-bottom: 30px;
}

.min{
	min-height: 80vh;
}


<!-- MODAL -->


body.modal-open1 {
   overflow: hidden;
   position: fixed;
}
.modal-open1 {
	   overflow-y: hidden;

   overflow: hidden;
   position: fixed;
}
.reveal-modal {
   overflow-y: auto;
   height: 100%;
   position: fixed;
}

<!-- end -->


.navbar a {
    color:#1C1C1C;
    text-decoration: none;
    font-size: 19px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar a:hover {
  color:#1C1C1C;
  border-bottom: solid 2px;
  margin-bottom: 0px;
  cursor: pointer;
}

.navbar-nav>li>a{
	font-size: 13pt;
	padding-bottom: 5px;

	margin-right: 20px;
	margin-left: 20px;

	padding-left: 5px;
	padding-right: 5px;

	 margin-bottom: 10px;

}
.navbar-nav>li>a:hover{
	color:#1C1C1C;
  border-bottom: solid 2px;
  margin-bottom: 0px;

}

.noticia{
	padding: 5px 5px;
    margin: 30px 10px 0px 0px;
	font-size: 12pt;
    height: 330px;
}

.noticias{
	font-size: 12pt;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.noticia-block{
	width:100%;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 20px;
	height: 470px;
	line-height: 18px;
}

.noticia-block p{
	margin-top: 10px;
}

.noticia .nomeNoticia{
	font-size: 12pt;
	font-weight: 700;
	margin-top: 20px;
}

.noticia p{
	font-size: 13pt;
}

.noticia-block .img_noticia_ver{
	height: 250px;
	overflow: hidden;
}

.noticia-block .img_noticia_ver img {
	width: 100%;
}

.noticia-block .img_noticia_hor{
	height: 250px;
	overflow: hidden;
}

.noticia-block .img_noticia_hor img {
	height: 250px;
}


.filtro_noticias_active{
	color:white;
	background-color: black;
}

.nucleos img{
	opacity: 1;
	margin-top: 10px;
	height: 150px;
}

.nucleos img:hover{
	opacity: 0.6;
	margin-top: 10px;
}

.nucleos h2{
	margin-top: 10px;
	height: 40px;
	line-height: 24pt;
	margin-bottom: 40px;
	font-size: 30px;
}

.nucleosG img{
	opacity: 1;
	margin-top: 10px;
	height: 150px;
}

.nucleosG img:hover{
	opacity: 0.6;
	margin-top: 10px;
}

.nucleosG h2{
	margin-top: 5px;
	height: 40px;
	line-height: 24pt;
	margin-bottom: 40px;
	font-size: 25px;
}

p{
	font-size: 11pt;
}

.padding{
	padding-left: 0px;
	padding-right: 0px;
}

.patro {
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -ms-filter: invert(1);
    -o-filter: invert(1);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.patro2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.pw_70 {
    width: 70%;
}

.pw_100 {
    width: 100%;
}

.procura{
	margin-top: 20px;
    margin-bottom: 30px;
	padding: 0;
}

.procura input{
	height:40px;
	border-style: solid;
	border-size: 2px;
	border-color: black;
    text-transform: uppercase;
}

.procura input[type="text"] {
    padding-left: 10px;
}

section{
	margin-top: 20px;
}

#show{
	padding-top: 30px;
}

site-nav {
    background-color: #fff;
}

.republica{
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12pt;
}


.republica-block p{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.republica-block .mapa{
	padding-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	width: 90%;
}

.republica .nomeNoticia{
	font-size: 12pt;
	font-weight: 700;
	margin-top: 20px;
}

.republica p{
	font-size: 13pt;
}

.slides{
	background-color: white;
	width:100%;
	overflow: hidden;
}

.subtituloPag{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18pt;
   margin: 20px;
}

.subtituloPagM{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18pt;

	margin-top: 30px;
	margin-bottom: 20px;

	margin-right: 20px;
	margin-left: 20px;

	line-height: 25px;
}

.tags_noticias {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.titulo{
	font-family: 'Roboto Slab';
	font-weight: 700;
}

.tituloPag{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 26pt;
   margin-top: 20px;
   margin-bottom: 10px;
   margin-left: 20px;
}

.tituloNot{
	font-family: 'Roboto';
	font-weight: 700;
	text-align: left;
	font-size: 26pt;
    margin: 20px;
}

.width{
 	width: 72.5%;
}

@media(min-width: 1200px){

  .homepagefoto{
	opacity: 0.6;
	width:100%;
	height: 95vh;
	overflow: hidden;
}

.cenas {
	top:73%;
	font-size:42pt;
}

.slides{
	background-color: white;
	width:100%;
	height:250px;
	overflow: hidden;
}

.republica-block{
	margin-top: 20px;
	width:100%;
	padding-top: 5px;
	padding-right: 25px;
	padding-left: 25px;
	margin-bottom: 20px;
	line-height: 18px;

	height: 350px;
}
}

@media(max-width: 1200px){

    .cenas{
        top:60%;
        font-size:38pt;
    }

  .homepagefoto{
	opacity: 0.6;
	width:100%;
	height: 95vh;
	overflow: hidden;
}
.republica-block{
	margin-top: 20px;
	width:100%;
	padding-top: 5px;
	padding-right: 25px;
	padding-left: 25px;
	margin-bottom: 20px;
	line-height: 18px;

	height: 350px;
    }
}

@media(max-width: 1024px){

.aac .txt{
    margin-top: 8px;
    font-size: 17pt;
}

.cenas {
	top:65%;
	font-size:36pt;
}

  .homepagefoto{
	opacity: 0.6;
	width:100%;
	height: 95vh;
	overflow: hidden;
}
.nucleos h2{
	font-size: 26px;
	margin-bottom: 32px;
	line-height: 18pt;

}
.nucleosG h2{
	font-size: 22px;
	margin-bottom: 32px;
	line-height: 18pt;

}
.republica-block{
	height: 420px;
}
}
@media (max-width: 768px){
.aac img{
    width:30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.aac .txt{
    margin-top: 10px;
    font-size: 15pt;
    text-align: center;
}

  .cenas{
	top:50%;
	font-size:30pt;
}

  .homepagefoto{
	opacity: 0.6;
	width:100%;
	height: auto;
	overflow: hidden;
}


}

@media (max-width: 640px){

    .cenas {
        top:43%;
        font-size:24pt;
    }

    .nucleos h2{
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 20pt;
        margin-top: 10px;
    }
    .nucleosG h2{
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 20pt;
        margin-top: 2px;
    }

}
@media (max-width: 480px){

	.noticia-block{
		height: 520px;
	}

    .aac img {
        width:25%;
    }

    .aac .txt{
        font-size: 13pt;
    }

    .cenas {
        top:32%;
        font-size:18pt;
    }

    .nucleos img{
        height: 110px;
    }
    .nucleosG img{
        height: 110px;
    }
    .diminui{
        font-size: 11pt;
    }
}
@media (max-width: 350px){
	.aac img{
		width:20%;
	}

	.aac .txt{
		font-size: 10pt;
	}

	.cenas{
	top:28%;
	font-size:13pt;
    }

    .diminui{
        font-size: 11pt;
    }
    .site-footer p{

    	font-size: 8pt;
    	line-height: 10pt;
	}
	.noticia-block{
		height: 450px;
	}

}
